deuBarkod/Service References/EczaneIlacWS/EczaneIlac.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ilacListesi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sorguParametresi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ilacListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ilacListesiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EczaneAuthHeader" type="tns:EczaneAuthHeader" />
      <s:complexType name="EczaneAuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ilacListesiSoapIn">
    <wsdl:part name="parameters" element="tns:ilacListesi" />
  </wsdl:message>
  <wsdl:message name="ilacListesiSoapOut">
    <wsdl:part name="parameters" element="tns:ilacListesiResponse" />
  </wsdl:message>
  <wsdl:message name="ilacListesiEczaneAuthHeader">
    <wsdl:part name="EczaneAuthHeader" element="tns:EczaneAuthHeader" />
  </wsdl:message>
  <wsdl:portType name="EczaneIlacSoap">
    <wsdl:operation name="ilacListesi">
      <wsdl:input message="tns:ilacListesiSoapIn" />
      <wsdl:output message="tns:ilacListesiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EczaneIlacSoap" type="tns:EczaneIlacSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ilacListesi">
      <soap:operation soapAction="http://tempuri.org/ilacListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ilacListesiEczaneAuthHeader" part="EczaneAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EczaneIlacSoap12" type="tns:EczaneIlacSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ilacListesi">
      <soap12:operation soapAction="http://tempuri.org/ilacListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ilacListesiEczaneAuthHeader" part="EczaneAuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EczaneIlac">
    <wsdl:port name="EczaneIlacSoap" binding="tns:EczaneIlacSoap">
      <soap:address location="http://194.27.55.12/hemcis/EczaneIlac.asmx" />
    </wsdl:port>
    <wsdl:port name="EczaneIlacSoap12" binding="tns:EczaneIlacSoap12">
      <soap12:address location="http://194.27.55.12/hemcis/EczaneIlac.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>